<h2>{{ isEdit ? '✏️ Modifica Prodotto' : '➕ Aggiungi Prodotto' }}</h2>

<form [formGroup]="form" (ngSubmit)="saveProduct()">

  <label>Nome</label>
  <input type="text" formControlName="name">

  <label>Descrizione</label>
  <textarea formControlName="description"></textarea>

  <label>Prezzo</label>
  <input type="number" formControlName="price">

  <label>Stock</label>
  <input type="number" formControlName="stock">

  <label>Immagine (URL)</label>
  <input type="text" formControlName="imageUrl">

  <!-- Preview immagine -->
  <img *ngIf="form.value.imageUrl"
       [src]="form.value.imageUrl"
       class="preview-img" />

  <button type="submit" [disabled]="form.invalid">
    {{ isEdit ? 'Aggiorna' : 'Crea' }}
  </button>

</form>
