<h2>➕ Aggiungi Prodotto</h2>

<form [formGroup]="form" (ngSubmit)="saveProduct()">

  <label>Nome</label>
  <input formControlName="name">

  <label>Descrizione</label>
  <textarea formControlName="description"></textarea>

  <label>Prezzo</label>
  <input type="number" formControlName="price">

  <label>Stock</label>
  <input type="number" formControlName="stock">

  <label>Immagine</label>
  <input type="imageUrl" formControlName="imageUrl">

  <!-- Preview -->
  <img *ngIf="preview" [src]="preview" class="preview-img">

  <button type="submit">Salva</button>
</form>
